.root {
  --color-primary: #1f5a68;
  --color-text: white;
  --input-height: 46px;

  z-index: 99999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100vw;
  height: 0;
  line-height: 1.4;
}

.root * {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.triggerButton {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  box-shadow: rgb(0 0 0 / 6%) 0 1px 6px 0, rgb(0 0 0 / 16%) 0 2px 32px 0;
}

.modal {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  bottom: calc(100% + 60px + 20px);
  right: 0;
  width: 360px;
  max-width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 5px 40px;
}

.header {
  background-color: var(--color-primary);
  margin: -30px -30px 30px;
  padding: 20px 30px;
  color: var(--color-text);
}

.modalTitle {
  flex-grow: 1;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form {
}

.form > * + * {
  margin-top: 20px;
}

.formElement {
  font-size: 1rem;
  font-family: inherit;
  font-weight: normal;
  display: block;
  width: 100%;
  padding: 10px;
  height: var(--input-height);
  border-radius: 4px;
  transition: 160ms;
  border: 1px solid rgba(209, 213, 219, 1);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.formElement:focus {
  outline-color: var(--color-primary);
}

.formElementTextarea {
  composes: formElement;
  resize: none;
  height: auto;
}

.formElementButton {
  composes: formElement;
  background-color: var(--color-primary);
  color: var(--color-text);
  cursor: pointer;
  border: 0;
}

.formElementButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.rateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rateLabel {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  padding: 4px;
  transition: 160ms;
}

.rateLabelSelected {
  background-color: rgb(0 0 0 / 8%);
}

.rateInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
